Source: ebur128-loudness-tools
Priority: extra
Maintainer: Jan Kokemüller <jan.kokemueller@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libgtk2.0-dev, libtag1-dev, librsvg2-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, libsndfile1-dev, libmpg123-dev, libmpcdec-dev, libqt4-dev, libspeexdsp-dev, libavformat-dev
Standards-Version: 3.9.2
Section: libs
Homepage: https://github.com/jiixyj/libebur128

Package: libebur128-dev
Section: libdevel
Architecture: any
Depends: libebur128-1 (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libebur128-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-cli
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-drop-gtk
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-drop-qt
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-input-ffmpeg
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-input-musepack
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-input-mpg123
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-input-sndfile
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: loudness-input-gstreamer
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
